/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.otf") format("opentype"); }

@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MyriadProRegular.woff") format("woff"); }

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400; }

.page-header {
  min-width: 980px; }

.page-header__wrapper {
  width: 940px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  min-height: 80px; }

.page-header__logo {
  margin-right: auto;
  margin-top: 20px; }

.page-header__nav {
  display: flex;
  margin-top: 26px; }

.page-main {
  min-width: 980px; }

.main-nav {
  display: flex;
  align-items: center;
  min-height: 34px; }

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 440px; }

.main-nav__link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #a0a0a0;
  text-transform: uppercase;
  transition: 0.3s; }

.main-nav__item {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 34px; }
  .main-nav__item_active a {
    color: #303941; }
  .main-nav__item:hover a {
    color: #f00; }
  .main-nav__item:active a {
    opacity: 0.3; }

.user-block {
  height: 34px;
  margin-left: 10px; }

.user-block__mail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border: 2px solid #353e45;
  border-radius: 50%;
  transition: 0.3s; }
  .user-block__mail:hover {
    border-color: #f00; }
    .user-block__mail:hover svg {
      fill: #f00; }
  .user-block__mail:active {
    opacity: 0.3; }

.user-block__mail svg {
  width: 20px;
  height: 20px;
  fill: #353e45; }

.beginning {
  background-image: url("../img/background-beginning.png");
  background-repeat: no-repeat;
  background-position: bottom center; }

.beginning__wrapper {
  min-height: 565px;
  width: 940px;
  margin: 0 auto;
  padding-top: 45px; }

.title {
  font-size: 0;
  text-align: center; }

.works {
  background-color: #3f3b48;
  background-image: url("../img/bg-works.png");
  background-repeat: no-repeat;
  background-position: center top; }

.works__wrapper {
  width: 940px;
  margin: 0 auto;
  min-height: 820px;
  padding-top: 85px; }

.works__title {
  margin-bottom: 50px; }

.works__buttons {
  display: flex;
  justify-content: center; }

.work {
  display: flex;
  justify-content: space-between;
  width: 940px;
  min-height: 460px;
  padding-top: 60px;
  background-image: url("../img/iPhone.png");
  background-repeat: no-repeat;
  background-position: center;
  color: #fff; }

.work__column_left {
  width: 320px; }

.work__column_right {
  width: 300px; }

.work__title {
  margin-left: 10px;
  margin-bottom: 25px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase; }

.work__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px; }

.work__features {
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase; }

.work__icon-feature {
  display: inline;
  margin-right: 10px;
  margin-bottom: -2px;
  fill: #fff;
  width: 16px;
  height: 16px; }

.work__tech-title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px; }

.work__technologies {
  display: flex;
  flex-wrap: wrap;
  border-radius: 12px;
  overflow: hidden;
  max-width: 248px;
  margin-bottom: 45px; }

.work__technology {
  flex-grow: 1;
  width: 82px;
  height: 100px;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  background-color: #635f6d;
  margin-right: 1px;
  margin-bottom: 1px; }
  .work__technology:nth-of-type(3n), .work__technology:last-of-type {
    margin-right: 0px; }
  .work__technology:nth-last-of-type(-n+3) {
    margin-bottom: 0; }

.work__icon-tech {
  height: 40px;
  width: 40px;
  fill: #fff; }

.work__tech-text {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px; }

.work__gallery-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  padding-right: 15px;
  transition: 0.3s; }
  .work__gallery-link::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 4px;
    right: 0px;
    border: 3px solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(45deg);
    transition: 0.3s; }
  .work__gallery-link:hover {
    color: #f00; }
    .work__gallery-link:hover:after {
      border-color: #f00;
      border-left-color: transparent;
      border-bottom-color: transparent; }
  .work__gallery-link:active {
    opacity: 0.3; }

.work-btns {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; }

.work-btns__counter {
  display: block;
  width: 76px;
  height: 62px;
  font-size: 18px;
  color: #fff;
  line-height: 62px;
  text-align: center;
  background-image: url("../img/bg-pagginator.svg#image");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76px 62px; }

.work-btns__all {
  font-size: 12px;
  vertical-align: top; }

.work-btns__btn {
  display: inline-block;
  height: 44px;
  width: 160px;
  font-size: 12px;
  line-height: 44px;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  text-align: center;
  background-repeat: no-repeat; }
  .work-btns__btn_previous {
    background-size: 160px 44px;
    background-image: url("../img/bg-pagginator-left.svg"); }
  .work-btns__btn_next {
    background-size: 160px 44px;
    background-image: url("../img/bg-pagginator-right.svg"); }

.advantages {
  font-family: 'Arial', sans-serif;
  background-image: url("../img/people.png"), url("../img/skyline.png");
  background-repeat: no-repeat, repeat-x;
  background-position: calc(50% + 100px) 100%, 80% 100%; }

.advantages__wrapper {
  width: 940px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 245px;
  min-height: 746px; }

.advantages__title {
  margin-bottom: 75px; }

.advantages__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px; }

.advantages__item {
  width: 298px; }

.advantages__icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px; }

.advantages__headline {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 25px; }

.advantages__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px; }

.advantages__btn {
  width: 204px;
  margin: 0 auto; }

.btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s; }
  .btn_advantages {
    height: 41px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 41px;
    background-color: #f00; }
  .btn:hover {
    box-shadow: 0px 100px 0 0 rgba(0, 0, 0, 0.2) inset; }
  .btn:active {
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2) inset; }

.blog {
  position: relative;
  background-color: #3f3b48;
  overflow: hidden;
  box-shadow: 20px 20px 20px 0 #3f3b48 inset; }
  .blog::after, .blog::before {
    position: absolute;
    content: '';
    z-index: 100;
    top: 0;
    bottom: 0; }
  .blog::after {
    right: 0;
    box-shadow: 0px 0px 100px 100px #3f3b48; }
  .blog::before {
    left: 0;
    box-shadow: 0px 0px 100px 100px #3f3b48; }

.blog__wrapper {
  padding-top: 90px;
  min-height: 870px; }

.blog__title {
  margin-bottom: 75px; }

.blog__list {
  display: flex;
  flex-direction: row;
  margin-bottom: 65px; }

.blog__post {
  flex-shrink: 0;
  margin-left: 25px;
  margin-right: 25px; }

.blog__scroll {
  display: block;
  width: 940px;
  margin: auto auto; }

.post {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 338px;
  height: 445px;
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 38px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #595466;
  box-shadow: 5px 5px 5px 0 #383540; }

.post__image {
  width: 298px;
  height: 251px;
  margin-bottom: 30px;
  background-color: #3f3b48; }

.post__date {
  position: absolute;
  top: 214px;
  right: 20px;
  width: 72px;
  text-align: center;
  border-radius: 5px;
  overflow: hidden; }

.post__day {
  width: 100%;
  height: 55px;
  line-height: 55px;
  background-color: #fff;
  font-size: 34px;
  color: #3f3b48; }

.post__month {
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  background-color: #3f3b48; }

.post__author {
  font-size: 12px;
  margin-bottom: 15px; }

.post__title {
  margin: 0;
  font-size: 18px;
  line-height: 20px; }

.post__link {
  display: flex;
  align-items: center;
  margin-top: auto;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s; }
  .post__link:hover {
    color: #3f3b48; }
    .post__link:hover svg {
      fill: #3f3b48; }
  .post__link:active {
    opacity: 0.3; }

.post__icon-link {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 8px;
  fill: #fff;
  transition: 0.3s; }

.scroll {
  position: relative;
  display: block;
  background-color: #2f2c36;
  border-radius: 5px; }
  .scroll_horizontal {
    height: 10px;
    border-top: 1px solid #222027;
    border-bottom: 1px solid #534f5b; }

.scroll__toggle {
  position: absolute;
  border-radius: 3px;
  background-color: #dbdbdb;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer; }
  .scroll__toggle_horizontal {
    top: -9px;
    left: 20%;
    width: 86px;
    height: 24px; }
    .scroll__toggle_horizontal::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 5px;
      width: 76px;
      height: 18px;
      border-radius: 9px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, transparent 50%, rgba(0, 0, 0, 0.2) 100%); }

.facts__wrapper {
  width: 940px;
  margin: 0 auto;
  padding-top: 90px;
  min-height: 705px; }

.facts__title {
  margin-bottom: 55px; }

.clients {
  width: 370px; }

.clients__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px; }

.clients__list {
  height: 148px;
  border-radius: 20px;
  background: url("../img/clients.png") no-repeat center, linear-gradient(to bottom, #ececec 0%, transparent 100%);
  box-shadow: 0 2px 1px #c9c9c9 inset; }

.diagram {
  position: relative;
  min-height: 350px;
  margin-top: -148px; }

.diagram__item {
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #3f3b48;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: center; }
  .diagram__item_start, .diagram__item_other {
    width: 32px;
    height: 32px; }
  .diagram__item_happy-clients, .diagram__item_best-shots {
    width: 112px;
    height: 112px;
    line-height: 112px;
    font-size: 38px; }
  .diagram__item_completed-projects {
    width: 82px;
    height: 82px;
    line-height: 82px;
    font-size: 26px; }
  .diagram__item_coffees-made {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 20px; }
  .diagram__item_winning-awards {
    width: 190px;
    height: 190px;
    line-height: 190px;
    font-size: 72px; }
  .diagram__item_start {
    top: 268px;
    left: 40px; }
  .diagram__item_happy-clients {
    left: 150px;
    top: 148px; }
    .diagram__item_happy-clients::before {
      position: absolute;
      top: 65%;
      left: -100px;
      transform: rotate(-30deg);
      transform-origin: right;
      content: '';
      display: block;
      height: 2px;
      width: 116px;
      background-color: #3f3b48; }
  .diagram__item_completed-projects {
    top: 230px;
    left: 345px; }
    .diagram__item_completed-projects::before {
      position: absolute;
      top: 40%;
      left: -100px;
      transform: rotate(20deg);
      transform-origin: right;
      content: '';
      display: block;
      height: 2px;
      width: 116px;
      background-color: #3f3b48; }
  .diagram__item_best-shots {
    left: 460px;
    top: 110px; }
    .diagram__item_best-shots::before {
      position: absolute;
      top: 60%;
      left: -70px;
      transform: rotate(-45deg);
      transform-origin: right;
      content: '';
      display: block;
      height: 2px;
      width: 108px;
      background-color: #3f3b48; }
  .diagram__item_other {
    top: 60px;
    left: 420px; }
    .diagram__item_other::before {
      position: absolute;
      top: 50%;
      right: -60px;
      transform: rotate(45deg);
      transform-origin: left;
      content: '';
      display: block;
      height: 2px;
      width: 76px;
      background-color: #3f3b48; }
  .diagram__item_coffees-made {
    top: 2px;
    left: 615px; }
    .diagram__item_coffees-made::before {
      position: absolute;
      top: 55%;
      left: -100px;
      transform: rotate(-45deg);
      transform-origin: right;
      content: '';
      display: block;
      height: 2px;
      width: 120px;
      background-color: #3f3b48; }
  .diagram__item_winning-awards {
    left: 725px;
    top: 70px; }
    .diagram__item_winning-awards::before {
      position: absolute;
      top: 50%;
      left: -155px;
      content: '';
      display: block;
      height: 2px;
      width: 155px;
      background-color: #3f3b48; }

.diagram__text {
  position: absolute;
  bottom: -35px;
  left: 50%;
  line-height: 25px;
  transform: translate(-50%);
  white-space: nowrap;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  color: #3f3b48; }

.page-footer {
  min-width: 980px;
  background-color: #3f3b48;
  font-family: 'Myriad Pro', sans-serif;
  font-weight: 400;
  color: #fff; }

.page-footer__wrapper {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px; }

.social {
  display: inline-flex; }

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  height: 33px;
  width: 33px;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 0;
  transition: 0.3s; }
  .social__item:hover {
    border-color: #635f6d; }
    .social__item:hover svg {
      fill: #635f6d; }
  .social__item:active {
    opacity: 0.3; }

.social__icon {
  height: 14px;
  width: 14px;
  fill: #fff;
  transition: 0.3s; }
