.advantages{
    font-family: 'Arial', sans-serif;
    background-image: url("../img/people.png"), url("../img/skyline.png");
    background-repeat: no-repeat, repeat-x;
    background-position: calc(50% + 100px) 100%, 80% 100%;
}
.advantages__wrapper{
  @include container;
  padding-top: 90px;
  padding-bottom: 245px;
  min-height: 746px;
}
.advantages__title{
  margin-bottom: 75px;
}
.advantages__list{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.advantages__item{
  width: 298px;
}
.advantages__icon{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.advantages__headline{
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.advantages__text{
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.advantages__btn{
  width: 204px;
  margin: 0 auto;
}
