.beginning{
  background-image: url("../img/background-beginning.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}
.beginning__wrapper{
  min-height: 565px;
  @include container;
  padding-top: 45px;
}
