.clients{
  width: 370px;
}
.clients__title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.clients__list{
  height: 148px;
  border-radius: 20px;
  background: url("../img/clients.png") no-repeat center, linear-gradient(to bottom, #ececec 0%, rgba(0,0,0,0) 100%);
  box-shadow: 0 2px 1px #c9c9c9 inset;
}
