.social{
  display: inline-flex;
}
.social__item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  height: 33px;
  width: 33px;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 0;
}
.social__icon{
  height: 14px;
  width: 14px;
  fill: #fff;
}
