.works{
  background-color: #3f3b48;
  background-image: url("../img/bg-works.png");
  background-repeat: no-repeat;
  background-position: center top;
}
.works__wrapper{
  @include container;
  min-height: 820px;
  padding-top: 85px;
}
.works__title{
  margin-bottom: 50px;
}
.works__buttons{
  display: flex;
  justify-content: center;
}
