.work{
  width: 940px;
  min-height: 460px;
  padding-top: 60px;
  background-image: url("../img/iPhone.png");
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}
.work__title{
  margin-left: 10px;
  margin-bottom: 25px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
