
.work-btns{
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.work-btns__counter{
  display: block;
  width: 76px;
  height: 62px;
  font-size: 18px;
  color: #fff;
  line-height: 62px;
  text-align: center;
  background-image: url("../img/bg-pagginator.svg#image");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76px 62px;
}
.work-btns__all{
  font-size: 12px;
  vertical-align: top;
}
.work-btns__btn{
  display: inline-block;
  height: 44px;
  width: 160px;
  font-size: 12px;
  line-height: 44px;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  text-align: center;
  background-repeat: no-repeat;
  &_previous{
    background-size: 160px 44px;
    background-image: url("../img/bg-pagginator-left.svg");
  }
  &_next{
    background-size: 160px 44px;
    background-image: url("../img/bg-pagginator-right.svg");
  }
}
