.work{
  display: flex;
  justify-content: space-between;
  width: 940px;
  min-height: 460px;
  padding-top: 60px;
  background-image: url("../img/iPhone.png");
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}
.work__column{
  &_left{
    width: 320px;
  }
  &_right{
    width: 300px;
  }
}
.work__title{
  margin-left: 10px;
  margin-bottom: 25px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}
.work__text{
  font-family: "Arial", sans-serif;;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px;
}
.work__features{
  font-family: "Arial", sans-serif;;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
.work__icon-feature{
  display: inline;
  margin-right: 10px;
  margin-bottom: -2px;
  fill: #fff;
  width: 16px;
  height: 16px;
}
.work__tech-title{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.work__technologies{
  display: flex;
  flex-wrap: wrap;
  border-radius: 12px;
  overflow: hidden;
  max-width: 248px;
  margin-bottom: 45px;
}
.work__technology{
  flex-grow: 1;
  width: 82px;
  height: 100px;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  background-color: #635f6d;
  margin-right: 1px;
  margin-bottom: 1px;
  &:nth-of-type(3n),
  &:last-of-type{
    margin-right: 0px;
  }
  &:nth-last-of-type(-n+3){
    margin-bottom: 0;
  }
}
.work__icon-tech{
  height: 40px;
  width: 40px;
  fill: #fff;
}
.work__tech-text{
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
}
.work__gallery-link{
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  padding-right: 15px;
  &::after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 4px;
    right: 0px;
    border: 3px solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(45deg);
  }
}
